<md-toolbar>
    <div class="" layout="row" layout-align="start center">
        <div class="md-toolbar-tools" flex>
 <p style="color:white">Simility</p>
        </div>
        <div class="" style="color:white">
            <md-button ng-click="$ctrl.goHome()" class="md-icon-button" aria-label="More">
                   <i class="material-icons">home</i>
                   <md-tooltip>HOME</md-tooltip>
                </md-button>

        <md-button ng-click="$ctrl.goChart()" class="md-icon-button" aria-label="More">
               <i class="material-icons">insert_chart</i>
                <md-tooltip>Chart View</md-tooltip>
            </md-button>
        </div>
    </div>

</md-toolbar>
<!-- <chart-component></chart-component> -->
<!-- <content-component><content-component> -->
