<nav class="navbar navbar-default">
    <div class="container row">
        <div class="col-md-8">
            <div class="navbar-header row">
                <div class="col-md-5">
                    <img alt="Brand" src="images/1.png"></div>
                <div class="col-md-7">
                    <div id="title">Fusion Style</div>
                    <div id="sub-title">&#8212; Fashion is nothing without people !</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="navbar navbar-right">
                <div id="stats">
                    Total Product Count:{{items.length}} | API Hits:{{hits}}

                </div>
                <div>
                </div>
            </div>
        </div>
</nav>