<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="images/molecule.png">
                </a>
                <div id="tagline">
                    <p>Springboard<span id="subtagline" class="hidden-xs"> LearningHub</span><span id="subtagline2"  class="hidden-xs">&#8212;one stop hub for all learning path.</span></p>
                </div>
            </div>
        </div>
        </div>
    </nav>